extends layout

include mixins/rating

block content
    .row-banner
        .col-12
            h1= pageHeader.title
            small &nbsp;#{pageHeader.strapLine}
    
    .row
        .col-12.col-md-8
            .error= message
            each location in locations
                .card
                    .card-block
                        h4
                            a(href=`/location/${location._id}`)= location.name
                            small &nbsp;
                                +outputRating(location.rating)
                            span.badge.badge-pill.text-bg-success.float-end= location.distance
                        p.address= location.address
                        .facilities
                            for facility in location.facilities
                                span.badge.text-bg-warning= facility
                                | &nbsp;

        .col-12.col-md-4
            p.lead= sidebar

